<h2>{{ quiz.title }}</h2>
<form method="POST">
  {% csrf_token %}

  {% for q in questions %}
  <div class="card mb-3 p-3">
    <p class="fw-bold">{{ forloop.counter }}. {{ q.question_text }}</p>

    {% for c in q.choices.all %}
    <div class="form-check">
      <input type="radio"
             class="form-check-input"
             name="q_{{ q.id }}"
             value="{{ c.id }}"
             required>
      <label class="form-check-label">
        {{ c.text }}
      </label>
    </div>
    {% endfor %}
  </div>
  {% endfor %}

  <button class="btn btn-success">Submit Quiz</button>
</form>
