# Environment variables
.env

# Media / uploaded files
media/
media/**

# Django migrations (ignore all except __init__.py)
**/migrations/**
!**/migrations/__init__.py

# Python compiled files
*.pyc
__pycache__/
**/__pycache__/
*.pyd
.gitignore