{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verification Successful</title>

    <link rel="stylesheet" href="{% static 'verification_success.css' %}">
</head>

<body>

<div class="box"> <!-- Verification Success Box Start -->
    <h2>✅ Email Verified Successfully!</h2> <!-- Success Message -->

    <p>Hello <strong>{{ user.first_name }}</strong>,</p>

    <p>Your account has been verified.</p>
    <p>You can now log in.</p>

</div>

</body>
</html>
